body {
    background-color: #131516;
    color: #fff;
}

input {
    background-color: #131516;
    color: #fff;
}

select {
    background-color: #131516;
    color: #fff;
}

.erro {
    border-color: red;
}